@use "variables" as *;
@use "mixins" as *;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Space Grotesk";
}

.container-div {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

// Mobile Responsiveness
@media (max-width: 425px) {
    body {
        font-family: "Space Grotesk";
        height: 200vh;
    }

    .sidebar {
        background-color: $dark-blue;
        width: 137px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }

    .sidebar.active {
        transform: translateX(0%);
    }

    .filter-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .ice-button {
        @include ice-button-mobile-version();
    }

    .content-div {
        display: flex;
        justify-content: center;
    }

    .extra-button-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fa-bars {
        display: flex;
        font-size: 1.8rem;
        width: 35px;
        height: 35px;
        justify-content: center;
        padding: 10px;
        color: $ice-white;
        background-color: $dark-blue;
        margin: 10px 10px;
        border-radius: 10px;

        transform: translateX(-290%);
        transition: transform 0.5s ease;
    }

    .fa-bars.active {
        transform: translateX(0%);
    }

    .fa-xmark {
        display: flex;
        font-size: 1.8rem;
        width: 35px;
        height: 35px;
        justify-content: center;
        padding: 10px;
        color: $ice-white;
        background-color: $dark-blue;
        margin: 10px 10px;
        border-radius: 10px;

        transition: transform 0.5s ease;
    }

    .fa-xmark.active {
        transform: translateX(0%);
    }

    .fa-universal-access {
        color: $dark-blue;
        font-size: 3.2rem;
        position: fixed;
        top: 10%;
    
        transform: translateX(-255%);
        transition: transform 0.5s ease;
    }

    .fa-universal-access.active {
        transform: translateX(0%);
    }

    #div-col {
        display: flex;
        flex-direction: column;
    }

    .track-div {
        background-color: $dark-blue;
        height: 320px;
        width: 250px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        margin: 20px auto;
    }

    .track-text {
        margin-top: 25px;
    }

    .ice-div {
        background-color: $ice-white;
        width: 220px;
        height: 205px;
        border-radius: 20px;
        margin-top: 25px;
    }

    .add-track-div {
        margin-top: 5px;
    }

    .add-track-title {
        margin-bottom: 5px
    }

    .ice-add-button {
        @include ice-add-button();
    }

    .form-div {
        background-color: $dark-blue;
        border-radius: 20px;
        width: 250px;
        height: auto;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .create-track-title {
        text-align: center;
        margin-top: 20px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #statut-div {
        display: flex;
        flex-direction: column;
    }

    .ice-button-form {
        @include ice-button-form-tablet-version();
    }

    #post-div {
        display: flex;
        flex-direction: column;
    }

    #company-div {
        display: flex;
        flex-direction: column;
    }

    #date-send-div {
        display: flex;
        flex-direction: column;
    }

    #date-resend-div {
        display: flex;
        flex-direction: column;
    }

    .create-button {
        margin-top: 20px;
    }
}

// Tablet Responsiveness
@media (min-width: 425px) and (max-width: 768px) {
    .sidebar {
        background-color: $dark-blue;
        width: 137px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }

    .sidebar.active {
        transform: translateX(0%);
    }

    .filter-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .ice-button {
        @include ice-button-tablet-version();
    }

    .content-div {
        display: flex;
        justify-content: center;
    }

    .extra-button-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fa-bars {
        display: flex;
        font-size: 1.8rem;
        width: 35px;
        height: 35px;
        justify-content: center;
        padding: 10px;
        color: $ice-white;
        background-color: $dark-blue;
        margin: 10px 10px;
        border-radius: 10px;

        transform: translateX(-350%);
        transition: transform 0.5s ease;
    }

    .fa-bars.active {
        transform: translateX(0%);
    }

    .fa-xmark {
        display: flex;
        font-size: 1.8rem;
        width: 35px;
        height: 35px;
        justify-content: center;
        padding: 10px;
        color: $ice-white;
        background-color: $dark-blue;
        margin: 10px 10px;
        border-radius: 10px;

        transition: transform 0.5s ease;
    }

    .fa-xmark.active {
        transform: translateX(0%);
    }

    .fa-universal-access {
        color: $dark-blue;
        font-size: 3.2rem;
        position: fixed;
        top: 10%;
    
        transform: translateX(-310%);
        transition: transform 0.5s ease;
    }

    .fa-universal-access.active {
        transform: translateX(0%);
    }

    .div-col {
        display: flex;
        flex-direction: column;
    }

    .track-div {
        background-color: $dark-blue;
        height: 320px;
        width: 468px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        margin: 20px auto;
    }

    .track-text {
        margin-top: 15px;
        font-size: 2.4rem;
    }

    .ice-div {
        background-color: $ice-white;
        width: 380px;
        height: 205px;
        border-radius: 20px;
        margin-top: 15px;
    }

    .add-track-div {
        margin-top: 5px;
    }

    .add-track-title {
        margin-bottom: 5px
    }

    .ice-add-button {
        @include ice-add-button();
    }

    .form-div {
        background-color: $dark-blue;
        border-radius: 20px;
        width: 468px;
        height: auto;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .create-track-title {
        font-size: 2.4rem;
        text-align: center;
        margin-top: 20px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #statut-div {
        display: flex;
        flex-direction: column;
    }

    .ice-button-form {
        @include ice-button-form-tablet-version();
    }

    #post-div {
        display: flex;
        flex-direction: column;
    }

    #company-div {
        display: flex;
        flex-direction: column;
    }

    #date-send-div {
        display: flex;
        flex-direction: column;
    }

    #date-resend-div {
        display: flex;
        flex-direction: column;
    }

    .create-button {
        margin-top: 20px;
    }
}

.main-title {
    margin: 50px 0;
    padding: 10px;
}

.ice-text {
    text-align: center;
    color: $ice-white;
}

.filter-title {
    margin-bottom: 10px;
}

.fa-user {
    color: $ice-white;
    font-size: 3em;
    margin-bottom: 20px;
}

// Desktop Responsiveness
@media (min-width: 768px) {
    
    .sidebar {
        background-color: $dark-blue;
        width: 274px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .filter-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .ice-button {
        @include ice-button();
    }


    .fa-bars {
        display: none;
    }
    
    .fa-xmark {
        display: none;
    }

    .content-div {
        margin: 25px auto;
    }

    .fa-universal-access {
        color: $dark-blue;
        font-size: 42px;
        position: fixed;
        right: 2%;
        top: 2%;
    }

    .track-div {
        background-color: $dark-blue;
        height: 570px;
        width: 1024px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
    }

    .track-text {
        margin-top: 25px;
    }

    .ice-div {
        background-color: $ice-white;
        width: 947px;
        height: 415px;
        border-radius: 20px;
        margin-top: 25px;
        overflow: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .black-div {
        background-color: $coal-black;
        width: 700px;
        height: 100px;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 50px;
        border-radius: 20px;
    }

    .add-track-div {
        margin-top: 25px;
    }

    .add-track-title {
        margin-bottom: 5px
    }

    .ice-add-button {
        @include ice-add-button();

    }

    .ice-add-button.active {
        @include ice-add-button();
    }

    .form-div {
        background-color: $dark-blue;
        border-radius: 20px;
        width: 1024px;
        height: 200px;
        display: none;
        justify-content: center;
        margin-top: 50px;
        align-items: flex-end;
    }

    .create-track-title {
        font-size: 2.4rem;
        margin-bottom: -10px;
    }

    .form-container {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-top: 30px;
        flex-direction: column; 
    }

    .input-container {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    #statut-div {
        display: flex;
        flex-direction: column;
    }

    .ice-button-form {
        @include ice-button-form();
    }

    #post-div {
        display: flex;
        flex-direction: column;
    }

    #company-div {
        display: flex;
        flex-direction: column;
    }

    #date-send-div {
        display: flex;
        flex-direction: column;
    }

    #date-resend-div {
        display: flex;
        flex-direction: column;
    }

    .create-button {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
}