@use "variables" as *;
@use "mixins" as *;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk";
    font-size: 0.8em;
}

.connect-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.container-div {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-right: 2vw;
}

.sidebar {
    background-color: $dark-blue;
    width: 24vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-title {
    margin: 50px 0;
}

.ice-text {
    text-align: center;
    color: $ice-white;
}

.options-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.ice-button {
    @include ice-button();
}

.ice-button:hover {
    background-color:aquamarine
}

.ice-add-button {
    @include ice-add-button();
}


.ice-button-form {
    @include ice-button-form();
}

div {
  display: inline-block;
}

div label {
  display: block;
}


label {
    margin-left: 2vh;
}


#home-login {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #19537d;
  width: 85vw;
  height: 35vh;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
  font-size: 1em;
  margin-right: 1vw;
}

input {
    height:5vh;
    width : 13vw;
    border-radius: 4vh;
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: inherit;
}

#home-form {
    margin-bottom: 2vh;
}