@use "variables" as *;
@use "mixins" as *;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Grotesk";
    height: 100vh;
}

.container-div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    background-color: $dark-blue;
    width: 274px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-title {
    margin: 50px 0;
    padding: 10px;
}

.ice-text {
    text-align: center;
    color: $ice-white;
}

.nav-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#profil-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.fa-user {
    color: $ice-white;
    font-size: 3em;
}

.ice-button {
    @include ice-button();
}

.watch-tracks-button {
    text-decoration: none;
    color: $coal-black;
}

.fa-universal-access {
    color: $dark-blue;
    font-size: 42px;
    position: fixed;
    right: 2%;
    top: 2%;
}

.ice-add-button {
    @include ice-add-button();
}